---
import "../styles/global.css";

interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<html lang="en" class="h-full antialiased">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content={description} />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
    <!-- Force initial color scheme based on system preference -->
    <script is:inline>
      if (typeof window !== "undefined") {
        const isDarkMode = window.matchMedia(
          "(prefers-color-scheme: dark)"
        ).matches;
        document.documentElement.classList.toggle("dark", isDarkMode);
      }
    </script>
  </head>
  <body class="h-full bg-white dark:bg-gray-900">
    <slot />
  </body>
</html>

<style is:global>
  /* Optional: Add transition for smooth theme switching */
  html.transition,
  html.transition *,
  html.transition *:before,
  html.transition *:after {
    transition: all 250ms !important;
    transition-delay: 0 !important;
  }
</style>

<script>
  function setTransitionClass() {
    document.documentElement.classList.add("transition");
    window.setTimeout(() => {
      document.documentElement.classList.remove("transition");
    }, 250);
  }

  const themeToggle = document.getElementById("theme-toggle");
  themeToggle?.addEventListener("click", setTransitionClass);
</script>
